.u-section-1 .u-sheet-1 {
  min-height: 80vh;
}

.u-section-1 .u-layout-wrap-1 {
  margin: 10vh 0;
}

.u-section-1 .u-container-layout{
  min-height: 70vh;
}

.u-section-1::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100vw;
  background-image: url("/static/portfolio/images/purple-bg.png");
  background-size: 100% 75%;
  background-position: bottom -33% right 0;
  background-repeat: no-repeat;
}

.u-section-1 .u-container-layout-1 {
  box-shadow: 0 0 10px 3px gray;
  clip-path: inset(-10px 0px 0px 0px);
  padding: 30px 0;
  background-image: url("/static/portfolio/images/login-thumb.png");
  background-color: #DEEBF7;
  background-size: 80% 70%;
  background-repeat: no-repeat;
  background-position: bottom 15% left 50%;
}

.u-section-1 .u-text-1 {
  margin: 5px auto;
  font-size: 40px;
}


.u-section-1 .u-container-layout-2 {
  box-shadow: 0 0 10px 3px gray;
  clip-path: inset(-10px 0px 0px 1px);
  padding: 30px;
}

#form::before{
  content: "";
  width: 1px;
  height: 100%;
  background: white;
  position:absolute;
  left: -1px;
}


@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 669px;
  }

  .u-section-1 .u-image-1 {
    min-height: 448px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 448px;
  }

  .u-section-1 .u-form-1 {
    width: 410px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 564px;
  }

  .u-section-1 .u-image-1 {
    min-height: 343px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-form-1 {
    width: 300px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 836px;
  }

  .u-section-1 .u-image-1 {
    min-height: 515px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 524px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-form-1 {
    width: 520px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 645px;
  }

  .u-section-1 .u-image-1 {
    min-height: 324px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-form-1 {
    width: 320px;
  }
}


@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translate3d(-20%, 0, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translate3d(20%, 0, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

label {
  margin-right: 20px;
}

input {
  width: 70%;
  padding: 5px 0;
  border: 2px black dashed;
  border-radius: 7px;
}

.row:has(input) {
  margin: 5vh 0;
  font-size: 23px;
}

.yellow-diamond {
  position: absolute;
  left: 4vw;
  top: 25vh;
}

.red-diamond {
  position: absolute;
  right: 4vw;
  top: 30vh;
}

.purple-cross {
  position: absolute;
  right: 13%;
  bottom: 30%;
}

.pink-diamond {
  position: absolute;
  left: 35%;
  bottom: 8%;
  z-index: 1000;
}

.purple-diamond {
  position: absolute;
  left: 25%;
  top: 10%;
}

footer {
  bottom: -5em;
}